<html>
    <head>
        <style>
            table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
<table>
    <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>mobile</th>
                <th>Email</th>
                <th>Active</th>
                <th>Block</th>
                <th>UnBlock</th>
                <th>Delete</th>
            </tr>
        </thead>
    <tbody *ngFor="let item of list">
      <tr>
        <td>
          {{item.uid}}
        </td>
        <td>
            {{item.name}}
          </td>
          <td>
              {{item.mobile}}
            </td>
            <td>
                {{item.email}}
              </td>
              <td>
                {{item.active}}
              </td>
         
              <td> <button type="submit" (click)="Block(item.uid)">Block</button></td>
              <td> <button type="submit" (click)="UnBlock(item.uid)">UnBlock</button></td>
              <td> <button type="submit" (click)="Delete(item.uid)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</body>
  </html>