/* You can add global styles to this file, and also import other style files */
/* body{
    background-image:url('./assets/image1.jpeg');
    background-size:cover; width:auto;
}

.bg1{
    background-size:cover; width:auto;
    background-image:url('./assets/image1.jpeg');
    background-position:50% 50%;
  } */